.flex
{
    display:flex;
    margin: 5%;
    text-align: left;
    
}
body{
    background-color: #6Fb98F;
}
.pastraipa
{
    text-align: justify;

}
.images
{
    display:flex;
    flex-wrap: wrap;
}
.item
{
    height:500px;
    width: 600px;
    padding: 10px;
    border: 30px;
    border-color: black;
}
h2.svarbu
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
h1.header
{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #021c1e;
    font-size: 300%;
    text-align:center;
}
.here
{
    font-size:150%;
    color:black;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #004445;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: #021c1e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2c7873;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }