.flex
{
    display:flex;
    margin: 5%;
    text-align: left;
    
}
body{
    background-color: bisque;
}
.pastraipa
{
    text-align: justify;

}
.images
{
    display:flex;
    flex-wrap: wrap;
}
.item
{
    height:500px;
    width: 600px;
    padding: 10px;
    border: 30px;
    border-color: black;
}
h2.svarbu
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
h1.header
{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: blue;
    font-size: 300%;
    text-align:center;
}
.here
{
    font-size:150%
}